{% extends "!footer.html" %}

{% block contentinfo %}
{{ super() }}
<p>
  <!-- Docs: Page bottom -->
  <ins class="adsbygoogle ads"
     style="display:block;background-color: transparent;"
     data-ad-client="ca-pub-7398081349378542"
     data-ad-slot="1206527817"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>
  <script>
    (adsbygoogle = window.adsbygoogle || []).push({});
  </script>
</p>
{% endblock %}

{% block extrafooter %}
{{ super() }}
{% include "navbar.html" %}
{% endblock %}