{% extends "!layout.html" %}

{% block extrahead %}
{{ super() }}
<link rel="stylesheet" href="{{ pathto('_static/css/extra.css', 1) }}" type="text/css" />
<script src="{{ pathto('_static/js/bootstrap.min.js', 1) }}"></script>
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7398081349378542" crossorigin="anonymous"></script>
<!-- <script src="http://dl.platformio.org/misc/abplus.js"></script> -->
{% endblock %}

{% block menu %}
{{ super() }}
<p style="margin-top: 15px;">
  <!-- Docs: Side Navigation -->
  <ins class="adsbygoogle ads"
       style="display:block;background-color: transparent;"
       data-ad-client="ca-pub-7398081349378542"
       data-ad-slot="2509136660"
       data-ad-format="auto"
       data-full-width-responsive="true"></ins>
  <script>
       (adsbygoogle = window.adsbygoogle || []).push({});
  </script>
</p>
{% endblock %}

{% block content %}
<div class="top-text-banner">
  <i class="fa fa-lightbulb-o fa-lg" aria-hidden="true"></i>&nbsp;
  <span class="top-text-banner-content">
    <script type='text/javascript'><!--//<![CDATA[
     var m3_u = (location.protocol=='https:'?'https://ad.platformio.org/delivery/revajs.dll':'http://ad.platformio.org/delivery/revajs.dll');
     var m3_r = Math.floor(Math.random()*99999999999);
     if (!document.MAX_used) document.MAX_used = ',';
     document.write ("<scr"+"ipt type='text/javascript' src='"+m3_u);
     document.write ("?zoneid=1");
     document.write ('&amp;cb=' + m3_r);
     if (document.MAX_used != ',') document.write ("&amp;exclude=" + document.MAX_used);
     document.write (document.charset ? '&amp;charset='+document.charset : (document.characterSet ? '&amp;charset='+document.characterSet : ''));
     document.write ("&amp;loc=" + escape(window.location));
     if (document.referrer) document.write ("&amp;referer=" + escape(document.referrer));
     if (document.context) document.write ("&context=" + escape(document.context));
     document.write ("'><\/scr"+"ipt>");
  //]]>--></script>
    </span>
</div>

{{ super() }}
{% endblock %}
