{% extends "!layout.html" %}

{% block extrahead %}
{{ super() }}
<link rel="stylesheet" href="{{ pathto('_static/css/extra.css', 1) }}" type="text/css" />
<script src="{{ pathto('_static/js/bootstrap.min.js', 1) }}"></script>
{% endblock %}

{% block menu %}
{{ super() }}
<ins data-rvad-zoneid="7" data-rvad-id="f837d8c96893e793fdbb230cffb628fc"></ins>
{% endblock %}

{% block content %}
<ins data-rvad-zoneid="1" data-rvad-id="f837d8c96893e793fdbb230cffb628fc"></ins>
{{ super() }}
{% endblock %}
